.info{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.name-info{
    width: 500px;
    border: 1px solid lawngreen;
    padding: 20px;
    margin-bottom: 40px;
    margin-left: 20px;
}
.image{
    margin-bottom: 40px;
    margin-left: 25px;
}
.image img{
    width: 500px;
    height: 500px;
}



@media  (min-width: 481px) and (max-width: 767px) {
    .info{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
}